.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(41, 165, 202);
    flex-direction: row;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(50, 76, 192);
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}